doctype html
html
  head
    title Enter Secret Key
    style.
      /* Add your CSS styles here */
      body {
        background-color: #f0f0f0; /* Light white background */
      }
      .center {
        text-align: center;
        margin-top: 50px;
      }
      form {
        display: inline-block;
      }
      input[type="text"] {
        width: 200px; /* Adjust the width as needed */
        margin-right: 10px;
        border-radius: 10px; /* Add border-radius for rounded corners */
        padding: 10px; /* Add padding for spacing inside the input field */
        font-size: 16px; /* Increase font size */
      }
      button[type="submit"] {
        border-radius: 10px; /* Add border-radius for rounded corners */
        padding: 10px 20px; /* Add padding for spacing inside the button */
        font-size: 16px; /* Increase font size */
      }
  body
    .center
      h1 Enter Secret Key
      br
      form(id="secretForm", method="POST", action="/isauthenticated", autocomplete="off")
        label(for="userval") 
        input(type="password", id="userval", name="userval", autocomplete="off")
        | &nbsp;
        button(type="submit") Submit




    //- if authenticated
    //-   form(id="logoutForm", method="POST", action="/logout", autocomplete="off")
    //-     button(type="submit") Logout
